pandas
numpy
seaborn
matplotlib
nltk
gensim
googletrans==3.1.0a0
scipy==1.10.1
apiclient
fastapi
uvicorn
apiclient
google-api-python-client
youtube_transcript_api
pandas
nltk
scikit-learn
numpy
matplotlib
transformers
spacy
bert-extractive-summarizer
sumy
keras
tensorflow-gpu==2.10.0
PyJWT
passlib[bcrypt]
pydantic-settings
python-dotenv
python-multipart
mysql-connector-python
pycryptodome
-e .